{% extends "base.html" %}
{% load static %}
{% block css %}
{% endblock %}
{% block body %} 

    <div class="container" id="main">
      <div class="row bootstrap snippets bootdeys">
        <div class="col-md-8 col-sm-12">
          <div class="comment-wrapper">
            <div class="panel panel-info">
              <div class="panel-heading">Comment panel</div>
              <div class="panel-body">
                <form action="" method="post">
                  {% csrf_token %}
                  <input
                    class="form-control"
                    type="text"
                    name="Name"
                    placeholder="Enter your firstname..."
                    id=""
                  /><br />
                  <textarea
                    class="form-control"
                    name="Message"
                    placeholder="write a comment..."
                    rows="3"
                  ></textarea>
                  <br />
                  <button type="submit" class="btn btn-info pull-right">
                    Post
                  </button>
                </form>
                <div class="clearfix"></div>
                <hr />
                <ul class="media-list">
                  {% for i in data %}
                  <li class="media">
                    <a href="#" class="pull-left">
                      <img
                        src="https://bootdey.com/img/Content/user_1.jpg"
                        alt=""
                        class="img-circle"
                      />
                    </a>
                    <div class="media-body">
                      <span class="text-muted pull-right">
                        <small class="text-muted">{{i.created_at}}</small>
                      </span>
                      <strong class="text-success">@{{i.name}}</strong>
                      <p style="color: black;">{{i.message}}.</p>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
